@import './_variables';

.img_home {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.color-subtitle {
  color: $GoldColor;
}

.banner__quote {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 39%;
  font-size: 40px;
  color: $white;
  font-family: cursive, sans-serif;
}
