.img_home {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.banner__quote {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 41%;
  font-size: 40px;
  color: #fff;
  font-family: cursive , sans-serif;

}
