.contact {
  margin: 0 auto;
  max-width: 500px;
  margin-left: 39%;
  margin-top: 7%;
  @include smartphoneOnly {
    width: 100%;
    display: contents;
  }
}

input {
  padding: 5px;
  margin: 5px;
}

.center-area {
  padding: 10px 35px 8px;
}

.btn-reservation button {
  padding: 10px;
  margin-left: 33%;
  margin-top: 4%;
  cursor: pointer;
  background-color: white;
  color: $GoldColor;
  border: 2px solid $GoldColor;

  &:hover {
    background-color: $GoldColor;
    color: white;
    transition: 0.5s;
  }
}

.sectionContact {
  color: $GoldColor;
}

form {
  margin-top: 10%;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__input,
.contact__textarea,
.contact__button {
  margin: 0.3rem 0 1rem 0;
  padding: 1.4rem;
}

.contact__form button {
  font-size: 1.27rem;
}

.sectionContact {
  text-align: center;
}
