.right-menus {
  width: 94%;
  padding: 2px;
  padding-top: 2%;
}
.title-menu-section-dessert {
  color: black;
  position: absolute;
  font-size: 25px;
  margin-left: 3%;
  padding-top: 11%;
  letter-spacing: 2.5px;
  border-bottom: 2px solid #c7ad88;
  text-transform: uppercase;
}



.container-menus-dessert {
  display: flex;
  position: absolute;
  margin-left: 62%;
  height: 920px;
}
