// .navbar__hamburgerMenu {
//   text-align: end;
// }

.navbar__container__list {
  display: flex;
  position: relative;
  left: 35%;
  list-style-type: none;
}

.navlinks {
  padding: 0 35px;
  text-decoration: none;
  color: black;
  font-family: 'cursive' sans-serif;
  font-size: 23px;
}
