// Importation des variables et mixins si nécessaire
@import './_variables';
@import './_mixins';

// Styles pour l'image de fond
.back_home_app {
  height: 35vw; // Hauteur basée sur 35% de la largeur de la fenêtre
  object-fit: cover; // Assure que l'image s'adapte et remplit complètement le conteneur
  width: 100%; // Largeur de l'image à 100% du conteneur parent
  margin-bottom: -2%;
}

// Styles pour le titre de section
.sectionTitle {
  position: absolute; // Positionnement absolu par rapport au parent
  left: 40%; // Position horizontale du titre
  font-size: 200%; // Taille de police
  text-transform: uppercase; // Convertit le texte en majuscules
  color: black;
  // Autres styles à ajouter si nécessaire
}
