@import './Mixins';

.back_reservation {
  height: 800px;
  width: 100%;
  object-fit: cover;
  margin-top: 55px;
}

.titleReservation {
  position: absolute;
  color: $white;
  margin-left: 41%;
  margin-top: 15%;
  text-align: center;
  font-family: 'cursive';
  font-size: 80px;
}

.open_hours {
  color: $GoldColor;
  left: 34%;
  margin-top: 23%;
  position: absolute;
}

.btn_Container {
  left: 39%;
  position: absolute;
  margin-top: 16%;
  display: flex;
}

@include smartphoneOnly {
  .Reservation {
    display: flex;
    flex-direction: column;
  }
}

.container {
  display: flex;
  position: relative;
}
