//Home Page
// @import '.';
@import './Navbar';
@import './Banner';
@import './PopularDish';
@import './Slider';
@import './buttons';
@import './tobook';
@import './ContactForm';

@import './_variables';

// //Polices
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:wght@100&display=swap');

body {
  overflow-x: hidden;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
