.banner__dish {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 38%;
  font-size: 40px;
  color: $white;
  font-family: cursive, sans-serif;
}

.color-text {
  color: black;
}

.list-content-maindish {
  width: 50%;
  margin: 20px;
  margin-top: 20px;
}

.back_menus {
  width: 65%;
}

.list-content {
  color: $white;
  width: 63%;
  margin: 20px;
  margin-top: 20px;
}

.left-menus {
  margin-left: 46%;
  width: 82%;
  padding: 4px;
  padding-top: 2%;
}

.price-maindish {
  color: $GoldColor;
  margin: 20px;
  font-size: 20px;
}
.price {
  color: $GoldColor;
  margin: 20px;
  font-size: 20px;
}

.color-title {
  color: $GoldColor;
}

.menu-list-items {
  padding: 30px;
  padding-top: 10%;
  list-style-type: none;
}
.menu-list-maindish {
  padding: 30px;
  padding-top: 12%;
  list-style-type: none;
}

.title-menu-section {
  color: $white;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  position: absolute;
  font-size: 25px;
  margin: 50px;
  border-bottom: 2px solid $GoldColor;
}

.title-menu-section-maindish {
  color: black;
  position: absolute;
  font-size: 25px;
  margin-left: 48%;
  padding-top: 12%;
  letter-spacing: 2.5px;
  border-bottom: 2px solid $GoldColor;
  text-transform: uppercase;
}
.back_section_menus {
  object-fit: cover;
  width: 100%;
}
.Menus-box {
  z-index: 2;
  position: relative;
}

.Menus_section {
  position: relative;
}

.container-menus-dish {
  display: flex;
  position: absolute;
  margin-top: -8%;
}

.container-menus-maindish {
  display: flex;
  position: absolute;
  margin-top: -4px;
  height: 920px;
}

.subtitle {
  color: $GoldColor;
}

.description-title {
  display: flex;
}
