
.banner__dish {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 38%;
  font-size: 40px;
  color: $white;
  font-family: cursive , sans-serif;
}

.description-title{
    display: flex;
}